
<div *ngIf="education">
    <h2><span jhiTranslate="knowMyMinisterApp.education.detail.title">Education</span> {{education.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="knowMyMinisterApp.education.title">Title</span></dt>
        <dd>
            <span>{{education.title}}</span>
        </dd>
        <dt><span jhiTranslate="knowMyMinisterApp.education.institute">Institute</span></dt>
        <dd>
            <span>{{education.institute}}</span>
        </dd>
        <dt><span jhiTranslate="knowMyMinisterApp.education.startDate">Start Date</span></dt>
        <dd>
            <span>{{education.startDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="knowMyMinisterApp.education.endDate">End Date</span></dt>
        <dd>
            <span>{{education.endDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="knowMyMinisterApp.education.minister">Minister</span></dt>
        <dd>
            <div *ngIf="education.ministerId">
                <a [routerLink]="['/minister-knowmyminister', education.ministerId]">{{education.ministerId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="knowMyMinisterApp.education.language">Language</span></dt>
        <dd>
            <div *ngIf="education.languageId">
                <a [routerLink]="['/language-knowmyminister', education.languageId]">{{education.languageId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'education-knowmyminister/'+ education.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
