
<div *ngIf="image">
    <h2><span jhiTranslate="knowMyMinisterApp.image.detail.title">Image</span> {{image.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="knowMyMinisterApp.image.title">Title</span></dt>
        <dd>
            <span>{{image.title}}</span>
        </dd>
        <dt><span jhiTranslate="knowMyMinisterApp.image.link">Link</span></dt>
        <dd>
            <span>{{image.link}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'image-knowmyminister/'+ image.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
